.App {
  text-align: center;
}
header {
  margin-top: auto;
}

main {
  height: 90vh;
  margin: 0;
}
.App__footer {
  padding: 1rem;
  border-top: 1px solid black;
  position: relative;
  margin-top: auto;
  bottom: 0;
  height: auto;
  font-size: 2rem;
}

.App__nav {
  display: flex;
  justify-content: space-between;
}
.App__nav a.active {
  font-weight: bold;
  text-decoration: whitesmoke underline;
}
.App__nav a {
  text-decoration: none;
  color: black;
}

.uber__div {
  background-color: lightblue;
  max-width: 400px;
  margin: auto;
  border: 5px solid whitesmoke;
}

form {
  background-color: whitesmoke;
}
input {
  all: unset;
  border: 5px solid white;
}

button {
  all: unset;
  background-color: whitesmoke;
  border: 5px solid white;
  font-weight: bold;
  cursor: pointer;
}
